.hero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  gap: 60px 24px;
  flex-wrap: wrap;

  &__image {
    position: relative;
    display: block;
    max-width: min(100vw, 400px);
    height: 400px;
    width: 100%;

    img {
      transform: rotate(-2.51deg);
      vertical-align: middle;
    }

    &::before {
      position: absolute;
      inset: 0;
      content: '';
      background: var(--accent);
      z-index: -1;
      transform: rotate(2.51deg);
    }
  }

  &__text {
    margin-top: auto;
    margin-bottom: 0;

    h1 {
      font-size: clamp(64px, calc(56px + 3vw), 80px);
      line-height: 1.1;
      margin-top: 16px;
      text-transform: uppercase;
    }
  }

  &__about {
    @extend .link-underline;
    @extend .link-underline--alternate;
    @extend .link-underline--accent;

    margin-top: 80px;

    p + p {
      margin-top: 40px;
    }

    a {
      &::after {
        z-index: -1;
        bottom: -3px;
      }
    }

    @media screen and (max-width: 500px) {
      margin-top: 48px;
    }
  }
}

.recent-posts {
  margin-top: 120px;
  margin-bottom: 120px;

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;

    a {
      svg {
        transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        width: 20px;
        height: 20px;
      }

      &:hover {
        svg {
          transform: translate(4px, -4px);
        }
      }
    }
  }
}

.blog {
  @extend .recent-posts;
  margin-bottom: 200px;

  h2 {
    margin-bottom: 40px;
  }

  .status {
    display: none;
  }
}
