.nav {
  @extend .container;

  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-transform: capitalize;
  }

  &__wrapper {
    border-bottom: 1px solid var(--foreground-20);
  }

  .links {
    display: flex;
    gap: 12px;
    flex-direction: row;
  }

  .theme-toggle {
    background: none;
    cursor: pointer;

    &:nth-of-type(1) {
      &:hover {
        svg {
          animation: rotate 250ms linear forwards;
        }
      }
    }

    &:nth-of-type(2) {
      &:hover {
        svg {
          animation: jerk 250ms linear forwards;
        }
      }
    }
  }

  button {
    padding: 6px;
  }

  .theme-toggle {
    background: none;
    cursor: pointer;
    margin-left: 20px;

    svg {
      margin-top: -4px;
      width: 20px;
      height: 20px;
    }
  }
}

.footer {
  @extend .container;
  padding-top: 64px;
  padding-bottom: 24px;
  color: #fff;

  &__wrapper {
    background: var(--accent);
    margin-top: 120px;
  }

  &__license {
    padding-top: 24px;
    border-top: 1px solid #fff;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  &__left {
    h3 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__right {
    display: flex;
    gap: 60px;

    > div {
      display: flex;
      flex-direction: column;

      h4 {
        margin-bottom: 24px;
        font-weight: 500;
        text-transform: uppercase;
      }

      a + a {
        margin-top: 16px;
      }
    }
  }
}

.link-underline {
  a {
    width: fit-content;
    color: inherit;
    position: relative;

    &:hover {
      &:after {
        left: 0;
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: '';
      width: 0;
      height: 1.5px;
      background: #fff;
      transition: all 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }

    &:hover {
      text-decoration: none;
    }
  }

  &--alternate {
    a {
      &:after {
        width: 100%;
      }

      &:hover {
        &:after {
          left: 0;
          width: 0%;
        }
      }
    }
  }

  &--accent {
    a::after {
      background: var(--accent);
      height: 2px;
    }
  }
}

.bold {
  font-weight: 500;
}

.status {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  border-radius: 20px;
  width: fit-content;
  background: var(--accent);
  gap: 4px;
}
