.nav {
  @extend .container;

  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-transform: capitalize;
  }

  &__wrapper {
    border-bottom: 1px solid var(--foreground-20);
  }

  .links {
    display: flex;
    gap: 12px;
    flex-direction: row;

    a {
      display: block;
    }
  }

  .logo {
    svg {
      width: 32px;
      height: 32px;

      path {
        stroke-dasharray: 320;
        stroke-dashoffset: 320;
        fill: none !important;
        animation: logo 2.5s ease-in forwards;
      }
    }

    &:hover {
      path {
        stroke-dasharray: 320;
        stroke-dashoffset: 320;
        animation: logo 2.5s ease-in forwards;
      }
    }
  }

  .theme-toggle {
    background: none;
    cursor: pointer;

    &:nth-of-type(1) {
      &:hover {
        svg {
          animation: rotate 250ms linear forwards;
        }
      }
    }

    &:nth-of-type(2) {
      &:hover {
        svg {
          animation: jerk 250ms linear forwards;
        }
      }
    }
  }

  button {
    padding: 6px;
  }

  .theme-toggle {
    background: none;
    cursor: pointer;
    margin-left: 20px;

    svg {
      margin-top: -4px;
      width: 20px;
      height: 20px;
    }
  }
}

.footer {
  @extend .container;
  padding-top: 64px;
  padding-bottom: 24px;
  color: #fff;

  &__wrapper {
    background: var(--accent);
  }

  &__license {
    padding-top: 24px;
    border-top: 1px solid #fff;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  &__left {
    h3 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__right {
    display: flex;
    gap: 60px;

    > div {
      display: flex;
      flex-direction: column;

      h4 {
        margin-bottom: 24px;
        font-weight: 500;
        text-transform: uppercase;
      }

      a + a {
        margin-top: 16px;
      }
    }
  }
}

.link-underline {
  a {
    width: fit-content;
    color: inherit;
    position: relative;

    &:hover {
      &:after {
        left: 0;
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: '';
      width: 0;
      height: 2px;
      background: #fff;
      transition: all 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }

    &:hover {
      text-decoration: none;
    }
  }

  &--alternate {
    a {
      &:after {
        width: 100%;
      }

      &:hover {
        &:after {
          left: 0;
          width: 0%;
        }
      }
    }
  }

  &--accent {
    a::after {
      background: var(--accent);
    }
  }
}

.bold {
  font-weight: 500;
}

.status {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  border-radius: 20px;
  width: fit-content;
  background: var(--accent);
  gap: 4px;

  &--outline {
    color: var(--foreground);
    background: transparent;
    border: 1px solid var(--accent);
  }
}

.post {
  display: flex;
  height: 100%;
  min-height: 52px;
  align-items: center;
  border-bottom: 1px solid var(--foreground-20);
  gap: 20px;
  padding: 12px 16px;
  transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);

  time {
    display: block;
    width: 100%;
    max-width: 105px;
  }

  &:hover,
  &:focus {
    svg {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px 30px;
    }

    > svg {
      width: 20px;
      height: 20px;
      opacity: 0;
      transform: translateX(-12px);
      transition: all 350ms cubic-bezier(0.22, 1, 0.36, 1);
    }
  }

  &__tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 500px) {
    padding: 12px 8px;
    align-items: start;
  }
}

.styled {
  &-text {
    padding: 6px 16px;
    font-size: 14px;
    font-family: var(--font-space-grotesk);
    letter-spacing: 0.28px;
    line-height: 16px;
    border-radius: 14px;
    border: 1px solid var(--foreground);
    text-transform: uppercase;
    max-width: fit-content;
    height: 28px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    &--green {
      color: #fff;
      font-weight: 500;
      background: #008a2e;
    }

    &__word {
      position: relative;
      overflow: hidden;
      display: block;
    }

    &__char {
      display: inline-block;

      &::after {
        position: absolute;
        left: 0;
        top: 100%;
        content: attr(data-letter);
      }
    }
  }

  &-section {
    margin-bottom: 48px;

    &__heading {
      padding: 0px 20px 8px;
      letter-spacing: 0.32px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      opacity: 0.7;
      overflow: hidden;

      h3 {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
      }
    }

    &__content {
      border-top: 1px solid var(--border-color);
      padding: 24px 0;
    }
  }
}
